In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
#buat fungsi untuk reduce memory.
#intinya adalah iterasi keseluruh kolom pada dataframe dan mengubah datatype yg memorynya paling kecil.
def reduce_mem_usage(df):
    
    start_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))
    
    for col in df.columns:
        col_type = df[col].dtype
        
        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
        else:
            df[col] = df[col].astype('category')

    end_mem = df.memory_usage().sum() / 1024**2
    
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))
    
    return df

#fungsi untuk memanggil dataframe
def import_data(file):
    df = pd.read_csv(file, parse_dates=True, keep_date_col=True)
    df = reduce_mem_usage(df)
    return df

In [3]:
df_train = import_data('/Users/achmadfauzitrinanda/Downloads/train_fix.csv')

Memory usage of dataframe is 804.72 MB
Memory usage after optimization is: 218.78 MB
Decreased by 72.8%

In [4]:
df_test = import_data('/Users/achmadfauzitrinanda/Downloads/test_fix.csv')

Memory usage of dataframe is 127.19 MB
Memory usage after optimization is: 34.49 MB
Decreased by 72.9%

# Initial Exploration

In [5]:
df_train.shape

(307511, 343)

In [6]:
df_test.shape

(48744, 342)

In [7]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 343 entries, Unnamed: 0 to Prev_POS_SK_DPD_DEF
dtypes: float16(253), float32(40), float64(1), int16(2), int32(7), int8(40)
memory usage: 218.8 MB

In [8]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48744 entries, 0 to 48743
Columns: 342 entries, Unnamed: 0 to Prev_POS_SK_DPD_DEF
dtypes: float16(253), float32(37), float64(1), int16(2), int32(9), int8(40)
memory usage: 34.5 MB

In [9]:
df_train.describe()

,Unnamed: 0,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,...,Prev_CCB_CNT_INSTALMENT_MATURE_CUM,Prev_CCB_NAME_CONTRACT_STATUS,Prev_CCB_SK_DPD,Prev_CCB_SK_DPD_DEF,Prev_POS_MONTHS_BALANCE,Prev_POS_CNT_INSTALMENT,Prev_POS_CNT_INSTALMENT_FUTURE,Prev_POS_NAME_CONTRACT_STATUS,Prev_POS_SK_DPD,Prev_POS_SK_DPD_DEF
count,307511.000000,307511.000000,307511.000000,307511.000000,307507.0,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,...,119167.0000,119167.000000,119167.0,119167.000000,305638.000000,305627.000000,305627.000000,305638.000000,305638.0,305638.000000
mean,153755.000000,278180.518577,0.080729,0.095213,NaN,0.340108,0.306327,0.417052,1.687391e+05,5.988308e+05,...,NaN,0.098145,NaN,0.027679,NaN,NaN,NaN,NaN,NaN,0.052612
std,88770.923652,102790.175348,0.272419,0.293509,0.0,0.473746,0.460968,0.722121,2.371759e+05,4.024795e+05,...,0.0000,0.302979,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.270020
min,0.000000,100002.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,...,0.0000,0.000000,0.0,0.000000,-94.000000,1.000000,0.000000,0.000000,0.0,0.000000
25%,76877.500000,189145.500000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,1.125000e+05,2.700000e+05,...,0.0000,0.000000,0.0,0.000000,-42.000000,9.812500,5.554688,0.265381,0.0,0.000000
50%,153755.000000,278202.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,...,3.0000,0.000000,0.0,0.000000,-30.296875,12.710938,7.945312,0.397949,0.0,0.000000
75%,230632.500000,367142.500000,0.000000,0.000000,1.0,1.000000,1.000000,1.000000,2.025000e+05,8.086500e+05,...,9.9375,0.000000,0.0,0.000000,-18.500000,18.000000,12.500000,0.580566,0.0,0.000000
max,307510.000000,456255.000000,1.000000,1.000000,1.0,1.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,...,48.0000,6.000000,1174.0,233.375000,-1.000000,72.000000,60.000000,7.000000,1160.0,28.687500

In [10]:
df_test.describe()

,Unnamed: 0,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,Prev_CCB_CNT_INSTALMENT_MATURE_CUM,Prev_CCB_NAME_CONTRACT_STATUS,Prev_CCB_SK_DPD,Prev_CCB_SK_DPD_DEF,Prev_POS_MONTHS_BALANCE,Prev_POS_CNT_INSTALMENT,Prev_POS_CNT_INSTALMENT_FUTURE,Prev_POS_NAME_CONTRACT_STATUS,Prev_POS_SK_DPD,Prev_POS_SK_DPD_DEF
count,48744.000000,48744.000000,48744.000000,48744.000000,48744.000000,48744.000000,48744.000000,4.874400e+04,4.874400e+04,48720.000000,...,1.866800e+04,18668.000000,1.866800e+04,18668.000000,4.844900e+04,4.844700e+04,4.844700e+04,48449.000000,4.844900e+04,48449.000000
mean,24371.500000,277796.676350,0.009006,0.329600,0.337129,0.309495,0.397054,1.784545e+05,5.167597e+05,29426.343750,...,inf,0.096558,1.763672e+00,0.021042,-inf,inf,inf,0.465332,1.084961e+00,0.052917
std,14071.325098,103169.547296,0.094474,0.470073,0.472734,0.462290,0.709047,1.015237e+05,3.653976e+05,16016.254883,...,1.060156e+01,0.293945,inf,0.232178,1.642188e+01,7.250000e+00,6.351562e+00,0.348877,inf,0.253418
min,0.000000,100001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.694150e+04,4.500000e+04,2295.000000,...,0.000000e+00,0.000000,0.000000e+00,0.000000,-9.400000e+01,1.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000
25%,12185.750000,188557.750000,0.000000,0.000000,0.000000,0.000000,0.000000,1.125000e+05,2.606400e+05,17973.000000,...,0.000000e+00,0.000000,0.000000e+00,0.000000,-4.200000e+01,9.835938e+00,5.566406e+00,0.264893,0.000000e+00,0.000000
50%,24371.500000,277549.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.575000e+05,4.500000e+05,26199.000000,...,2.800781e+00,0.000000,0.000000e+00,0.000000,-3.025000e+01,1.266406e+01,7.957031e+00,0.396240,0.000000e+00,0.000000
75%,36557.250000,367555.500000,0.000000,1.000000,1.000000,1.000000,1.000000,2.250000e+05,6.750000e+05,37390.500000,...,9.500000e+00,0.000000,0.000000e+00,0.000000,-1.825000e+01,1.800000e+01,1.250000e+01,0.578125,0.000000e+00,0.000000
max,48743.000000,456250.000000,1.000000,1.000000,1.000000,1.000000,20.000000,4.410000e+06,2.245500e+06,180576.000000,...,4.778125e+01,6.000000,8.305000e+02,24.531250,-1.000000e+00,6.037500e+01,6.000000e+01,6.500000,1.127000e+03,9.250000

In [11]:
#gabungkan df_train dan df_test
data = df_train.append(df_test)

In [12]:
data.shape

(356255, 343)

In [13]:
#Karena di df_test tidak ada di feature target maka nilainya Nan semua.
data['TARGET'][307511:]

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
48739   NaN
48740   NaN
48741   NaN
48742   NaN
48743   NaN
Name: TARGET, Length: 48744, dtype: float64

In [14]:
#hapus kolom target
data_2 = data.drop(columns=['TARGET'])
data_2.head()

,Unnamed: 0,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,Prev_CCB_CNT_INSTALMENT_MATURE_CUM,Prev_CCB_NAME_CONTRACT_STATUS,Prev_CCB_SK_DPD,Prev_CCB_SK_DPD_DEF,Prev_POS_MONTHS_BALANCE,Prev_POS_CNT_INSTALMENT,Prev_POS_CNT_INSTALMENT_FUTURE,Prev_POS_NAME_CONTRACT_STATUS,Prev_POS_SK_DPD,Prev_POS_SK_DPD_DEF
0,0,100002,0,1.0,0,0,0,202500.0,406597.5,24700.5,...,NaN,NaN,NaN,NaN,-8.250000,8.085938,6.500000,1.786133,0.000000,0.000000
1,1,100003,0,0.0,0,1,0,270000.0,1293502.5,35698.5,...,6.667969,0.064514,0.0,0.0,-19.000000,17.625000,14.500000,0.656250,0.000000,0.000000
2,2,100004,1,1.0,1,0,0,67500.0,135000.0,6750.0,...,12.781250,0.000000,0.0,0.0,-43.500000,8.500000,4.917969,0.333252,0.000000,0.000000
3,3,100006,0,0.0,0,0,0,135000.0,312682.5,29686.5,...,NaN,NaN,NaN,NaN,-33.406250,12.398438,6.796875,0.456787,0.000000,0.000000
4,4,100007,0,1.0,0,0,0,121500.0,513000.0,21865.5,...,3.599609,0.000000,0.0,0.0,-26.421875,11.335938,8.109375,0.461182,0.126953,0.126953

In [15]:
#Persentase total data yang missing dari data
sum(data_2.isna().sum())/(data_2.shape[0]*data_2.shape[1])*100

15.244869857577047

In [16]:
#10 besar feature yang memiliki persentase data missing yang paling tinggi.
data_missing = pd.DataFrame(data_2.isnull().sum() / len(data_2)).sort_values(by=0, ascending=False)
data_missing[:10]

                                            0
Prev_FLAG_LAST_APPL_PER_CONTRACT     1.000000
Prev_RATE_INTEREST_PRIVILEGED        0.981937
Prev_RATE_INTEREST_PRIMARY           0.981937
Prev_CCB_AMT_PAYMENT_CURRENT         0.740916
Prev_CCB_AMT_DRAWINGS_OTHER_CURRENT  0.740781
Prev_CCB_AMT_DRAWINGS_ATM_CURRENT    0.740781
Prev_CCB_CNT_DRAWINGS_ATM_CURRENT    0.740781
Prev_CCB_CNT_DRAWINGS_OTHER_CURRENT  0.740781
Prev_CCB_CNT_DRAWINGS_POS_CURRENT    0.740781
Prev_CCB_AMT_DRAWINGS_POS_CURRENT    0.740781

In [17]:
#kolom yang memiliki persentase data missing diatas 70% akan saya drop.
drop = data_missing[data_missing[0] > 0.7]
drop

                                            0
Prev_FLAG_LAST_APPL_PER_CONTRACT     1.000000
Prev_RATE_INTEREST_PRIVILEGED        0.981937
Prev_RATE_INTEREST_PRIMARY           0.981937
Prev_CCB_AMT_PAYMENT_CURRENT         0.740916
Prev_CCB_AMT_DRAWINGS_OTHER_CURRENT  0.740781
Prev_CCB_AMT_DRAWINGS_ATM_CURRENT    0.740781
Prev_CCB_CNT_DRAWINGS_ATM_CURRENT    0.740781
Prev_CCB_CNT_DRAWINGS_OTHER_CURRENT  0.740781
Prev_CCB_CNT_DRAWINGS_POS_CURRENT    0.740781
Prev_CCB_AMT_DRAWINGS_POS_CURRENT    0.740781

In [18]:
data_2.drop(columns=drop.index, inplace=True)
data_2.shape

(356255, 332)

In [19]:
#sisanya akan saya isi dengan median.
for feature in  data_missing[(data_missing[0] > 0) & (data_missing[0] <= 0.7)].index:
    data_2[feature] = data_2[feature].fillna(data_2[feature].median())

In [20]:
#cek lagi
sum(data_2.isna().sum())/(data_2.shape[0]*data_2.shape[1])*100

0.0

- Data sudah tidak ada yang missing

# Handling Variables with Small Variances

- Karena small variances hanya akan memberikan sedikit informasi

In [22]:
small_variance = data_2.columns[(data_2.std(axis = 0) < .01).values]

In [23]:
small_variance

Index(['CODE_GENDER', 'REGION_POPULATION_RELATIVE', 'DAYS_REGISTRATION',
       'OWN_CAR_AGE', 'FLAG_MOBIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS',
       'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3',
       ...
       'Prev_CCB_CNT_INSTALMENT_MATURE_CUM', 'Prev_CCB_NAME_CONTRACT_STATUS',
       'Prev_CCB_SK_DPD', 'Prev_CCB_SK_DPD_DEF', 'Prev_POS_MONTHS_BALANCE',
       'Prev_POS_CNT_INSTALMENT', 'Prev_POS_CNT_INSTALMENT_FUTURE',
       'Prev_POS_NAME_CONTRACT_STATUS', 'Prev_POS_SK_DPD',
       'Prev_POS_SK_DPD_DEF'],
      dtype='object', length=253)

In [24]:
data_2.drop(columns = small_variance, inplace=True)

In [25]:
data_2.shape

(356255, 79)

- Kembalikan lagi targetnya

In [26]:
data_2['TARGET'] = data['TARGET']

In [27]:
data_2.shape

(356255, 80)

In [28]:
data_2['TARGET']

0        1.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
48739    NaN
48740    NaN
48741    NaN
48742    NaN
48743    NaN
Name: TARGET, Length: 356255, dtype: float64

In [29]:
data_final = data_2.copy()

In [30]:
data_final.to_csv('data_final.csv')